
config byedpi 'main'
	option enabled 1

#	if set, all other uci settings are ignored
	option cmd_opts '--timeout 3 --auto-mode s,n -d1 -s1+s -d3+s -s6+s -d9+s -s12+s -d15+s -s20+s -d25+s -s30+s -a1 --auto=torst --fake -1 --ttl 8'

#	option ip '0.0.0.0'
#	option port '1080'
#	option pidfile ''
#	option transparent 0
#	option max_conn '512'
#	option no_domain 0
#	option no_udp 0
#	option conn_ip '::'
#	option buf_size '16384'
#	option debug '0'
#	option def_ttl ''
#	option tfo 0
#	option auto ''
#	option auto-mode ''
#	option cache_ttl '100800'
#	option timeout ''
#	option proto ''
#	option hosts ''
#	option ipset ''
#	option pf ''
#	option round ''
#	list split ''
#	option disorder ''
#	option oob ''
#	option disoob ''
#	option fake ''
#	option md5sig 0
#	list fake_sni ''
#	option ttl '8'
#	option fake_offset ''
#	option fake_data ''
#	option fake_tls_mod ''
#	option oob_data ''
#	option mod_http ''
#	list tlsrec ''
#	option udp_fake '0'
#	option drop_sack ''
